.App {
  text-align: center;
  background-image: url("https://avatars.mds.yandex.net/get-pdb/985791/a7739765-a925-46be-8d02-9ad81e5cff1b/s1200");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-item {
  background-color: #296daabd;
  border-radius: 10px;
  padding: 20px;
  width: 20%;
}

.list-item,
.adder-new-item {
  margin: 10px;
  box-shadow: inset 2px 3px 4px 3px #c3ebfe;
}

.list-title {
  background-color: #f0ffff70;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-item {
  background: azure;
  box-shadow: 3px 2px 8px 0px black;
  cursor: pointer;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
  clear: both;
  overflow: hidden;
  word-wrap: break-word;
  color: #172b4d;
}

.adder-new-item {
  background: #0176aade;
  border-radius: 10px;
  height: max-content;
}

.active {
  background-color: #61dafb;
  transform: rotate(5deg);
}

.new-card-item {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.App .d-flex {
  padding: 20px;
}

.flex-column {
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

